.card-header-icon {
  font-size: 25px;
  margin-bottom: 0.4rem;
  height: 25px;
  width: auto;
}

.lead {
  font-weight: 400;
}

.card-body {
  text-align: justify;
}

p {
  text-align: justify;
}

.bg-light-dark {
  background-color: rgb(233, 232, 232);
}

.jumbotron {
  padding: 2rem;
}

.no-padding {
  padding: 0%;
}

.card-header {
  background-color: rgb(233, 232, 232);
}

.card {
  border-color: rgb(202, 200, 200);
}

.heading {
  font-weight: 500;
}

.sub-heading {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
